@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <!-- Genel Hakkımızda -->
        <div class="col-md-12 text-center mb-4">
            <h1 class="mb-4">HAKKIMIZDA</h1>
        </div>
    </div>
    <!-- Video Bölümü -->
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="video-container">
                <iframe id="vp1948Ro" title="Video Player" width="864" height="486" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1706018689&f=948RoM2ojr5C30yqdZ8dKQ&d=0&m=p&r=360p+720p&volume=100&start_res=720p&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <!-- Sol Taraf - Genel Hakkımızda -->
        <div class="col-md-6">
            <p><strong>EcoX Shop (Ecological Experience-Ekolojik Deneyim),</strong> sürdürülebilirlik odaklı outdoor ekipman ve giyim ürünleri sunan bir e-ticaret platformudur. Kamp&doğa yürüyüşü, tırmanma, su sporları, kış sporları, seyahat kategorilerinde geniş bir ürün yelpazesi sunmaktadır.</p>
            <br />
            <br />
            <p>Sitemizde kullanıcılar online sipariş verebilir, stok takibi yapabilir, istedikleri ürünleri ve istedikleri kategorideki ürünleri görebilir, ürünlerin sürdürülebilirlik bilgisine göre filtreleme yapabilirler.</p>
            <br />
            <br />
            <p><strong>Explore Nature Sustainably (Doğayı Sürdürülebilir Şekilde Keşfedin):</strong> EcoX'in bu sloganı ile sizleri doğayı sürdürülebilir bir şekilde keşfetmeye davet ediyoruz.</p>
        </div>

        <!-- Sağ Taraf - Sürdürülebilirlik Özellikleri -->
        <div class="col-md-6">
            <h6>Sürdürülebilirlik Özellikleri</h6>
            <p>Sürdürülebilirlik, doğal kaynakları ve çevreyi koruma, insan haklarına saygı gösterme ve etik üretim yöntemlerini benimseme sürecidir. EcoX Shop olarak, sürdürülebilirlik ilkesini işimizin temelinde tutuyoruz.</p>
            <br />
            <h6>Ürünlerimizde Sürdürülebilirlik</h6>
            
            <ul>
                <li><strong>Geri dönüştürülmüş malzemeler içerir:</strong> Ürünlerimizde kullanılan malzemelerin bir kısmı geri dönüştürülmüş malzemelerden elde edilmiştir.</li>

                <li><strong>bluesign kriterlerini karşılayan malzemeler içerir:</strong> Ürünlerimiz, bluesign® kriterlerini karşılayan malzemeler kullanılarak üretilmiştir. Bu, üretim sürecinde çevresel sürdürülebilirlik ve güvenlik standartlarının takip edildiği anlamına gelir.</li>

                <li><strong>İklim Nötr Sertifikalı bir markadan:</strong> Ürünlerimiz, iklim nötr sertifikalı bir marka tarafından üretilmiştir. Bu, üretim sürecinin karbon ayak izini dengelemek ve sıfıra indirmek için adımlar atıldığı anlamına gelir.</li>
            </ul>
        </div>
        
    </div>
    <br />
    <br />
</div>
